
<!-- Desktop/Tablet Top Navbar (hidden on mobile) -->
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top d-none d-md-flex">
  <div class="container d-flex align-items-center">
    <a class="navbar-brand ms-0" href="{{ url_for('public.home') }}">
      <img src="{{ static_url_for('static', filename='build/plank_skull.webp') }}" alt="Walk the Plank Logo" class="img-fluid" style="max-width: 75px; height: auto;" />
    </a>
    <div class="flex-grow-1"></div>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('public.home') }}">
          <span class="d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-house fa-1x me-2"></i>Home
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('public.about') }}">
          <span class="d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-info-circle fa-1x me-2"></i>About
          </span>
        </a>
      </li>
      {# <li class="nav-item">
        <a class="nav-link" href="{{ url_for('public.about') }}"><i class="fa-solid fa-person-digging fa-1x"></i></a>
      </li> #}
    </ul>
  </div>
</nav>



<!-- Mobile Bottom Navbar (hidden on md and up) -->
<!-- Logo -->
<div class="container text-center mb-3 d-md-none">
  <a href="{{ url_for('public.home') }}">
    <img src="{{ static_url_for('static', filename='build/plank_skull.webp') }}" alt="Walk the Plank Logo" class="img-fluid" style="max-width: 75px; height: auto;" />
  </a>
</div>

<nav class="navbar navbar-light bg-light navbar-expand fixed-bottom border-top shadow-sm d-flex d-md-none">
  <ul class="navbar-nav nav-justified w-100 flex-row"> 
   
    <li class="nav-item flex-fill text-center">
      <a class="nav-link" href="{{ url_for('public.home') }}">
        <i class="fa-solid fa-house fa-lg"></i><br>
      </a>
    </li>

    <li class="nav-item flex-fill text-center">
      <a class="nav-link" href="{{ url_for('public.about') }}">
        <i class="fa-solid fa-info-circle fa-lg"></i><br>
      </a>
    </li>
  </ul>
</nav>


