/* =============================================================================
   App specific CSS file.
   ========================================================================== */

   
/* ======================================
Bootstrap Overrides 
====================================== */   
   
/*    bg-primary: #E6CD92
      bg-secondary: #D1B16E

      font-primary: #392313
      font-secondary: #392313b5;

*/




/* Override Bootstrap border color */
:root {

  --bg-primary: #E6CD92;
  --bg-secondary: #D1B16E;
  --bg-tertiary: #bea163;    
  --bg-quaternary: #b3975c;   

  --font-primary: #392313;          /* Primary font color */
  --font-secondary: #392313b5;      /* Secondary font color */
  --font-tertiary: #392313d4;      /* Tertiary font color */
  --bs-border-color: var(--bg-secondary);       /* Your desired color */
  --bs-border-width: 3px;

}

.bg-light {
  background-color: var(--bg-primary) !important;
}

.btn {
  --bs-btn-font-weight: 600; 
}

.btn-primary {
  background-color: var(--font-primary);
  border-color: transparent;
  color: var(--bg-primary);
}

.btn-primary:hover {
  background-color: var(--font-secondary);
  border-color: transparent;
  color: var(--bg-primary);
}

.btn-primary:active {
  background-color: var(--font-tertiary) !important; 
  border-color: transparent !important;
  color: var(--bg-primary) !important;
}


/* Override Bootstrap secondary button styles */
.btn-secondary {
  background-color: var(--bg-secondary);
  border-color: transparent;
  color: var(--font-primary);
}

.btn-secondary:hover {
  background-color: var(--bg-quaternary);
  border-color: transparent;
  color: var(--font-primary);
}


.btn-secondary:active {
  background-color: var(--bg-tertiary) !important; 
  border-color: transparent !important;
  color: var(--font-primary) !important;
}


    
/* ======================================
Universal
====================================== */   


html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 400px;
  margin-bottom: 25px;
  padding-top: 5px;
  color: var(--font-secondary);
  font-size: small;
}

footer a {
  color: var(--font-secondary);
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .company, 
footer .footer-nav {
  display: flex;
  list-style: none;
  align-items: center;
}

footer .footer-nav li {
  margin-left: 1.2em;
}

footer ul {
  padding: 0;
  margin: 0;
}


@media (max-width: 576px) {
  /* Bootstrap sm breakpoint */
  .footer-flex,
  footer .company,
  footer .footer-nav {
    flex-direction: column;
  }

  footer .footer-nav li {
    margin-left: 0em;
    margin-bottom: 0.5em;
  }

  .footer-flex .footer-nav {
    order: 1;
  }
  .footer-flex .company {
    order: 2;
  }


}
