/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

.alert {
  margin-top: 45px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 400px;
  margin-bottom: 25px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
  font-size: small;
}

footer a {
  color: #999999;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .company, 
footer .footer-nav {
  display: flex;
  list-style: none;
  align-items: center;
}

footer .footer-nav li {
  margin-left: 1.2em;
}

footer ul {
  padding: 0;
  margin: 0;
}


@media (max-width: 576px) {
  /* Bootstrap sm breakpoint */
  .footer-flex,
  footer .company,
  footer .footer-nav {
    flex-direction: column;
  }

  footer .footer-nav li {
    margin-left: 0em;
    margin-bottom: 0.5em;
  }

  .footer-flex .footer-nav {
    order: 1;
  }
  .footer-flex .company {
    order: 2;
  }


}
