
{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1 class="mt-5">Home</h1>
</div>
<br>
<br>
<div class="container">
    <h3>Socket.IO Testing</h3>
</div>

<br>
<br>

<div class="container">
    <h3>Style Sheet</h3>
    <p>This is a paragraph to demonstrate the custom styles applied from the stylesheet.</p>
    <a href="#">This is a link to demonstrate link styling.</a>
    <br>
    <button type="button" class="btn btn-primary mt-2">Primary Button</button>
    <button type="button" class="btn btn-secondary mt-2">Secondary Button</button>
    <br>
    <button type="button" class="btn btn-primary mt-2">Create Lobby</button>
    <button type="button" class="btn btn-primary mt-2">Join Lobby</button>
</div>



{% endblock %}

