
{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1 class="mt-5">Home Page Test</h1>
</div>
<br>
<br>
<div class="container">
    <h3>Socket.IO Testing</h3>
</div>

<div class="container">
    <br/>
    <form id="registerForm" class="form form-register" method="POST" action="" role="form">
           {{ form.csrf_token }}
            <div class="form-group">
                {{form.username.label}}
                {{form.username(placeholder="Enter Custom Username", class_="form-control")}}
                <small class="text-danger" id="username_error"></small>
            </div>
            <div class="form-group">
                {{form.roomcode.label}}
                {{form.roomcode(placeholder="Enter 4-Letter Room Code", class_="form-control")}}
                <small class="text-danger" id="roomcode_error"></small>
            </div>
            <div class="form-group">
                {{form.join_room(class_="btn btn-primary")}}
                {{form.create_room(class_="btn btn-primary")}}
            </div>
    </form>

    <button type="button" id="button_emit_client_event" class="btn btn-success" >button_emit_client_event</button>
    <div id="server_response_div"></div>
</div>

{% endblock %}

