
{% extends "layout.html" %}


{% block content %}
<input type="hidden" id="username" value="{{ username }}">
<input type="hidden" id="roomcode" value="{{ roomcode }}">

<div class="container d-flex flex-column justify-content-center align-items-center gap-1" style="padding: 0px 35px;">
    <h1 class="mt-5">Room {{ roomcode }}</h1>
        <br>
        <br>
    <div id="roomInfoContainer" class="container bg-secondary p-3 rounded w-100" style="min-height: 200px; max-width: 300px;"></div>
    <div id="hostControlsContainer" class="d-flex flex-column justify-content-center align-items-center"></div>
    <br>
    <div id="shoutMsgList" class="overflow-auto bg-secondary rounded p-2 w-100" style="max-height: 200px; min-height: 200px; max-width: 300px;"></div>
    <br>
    <button type="button" id="shoutMsgBtn" class="btn btn-secondary">Send a Shout</button>
</div>
<br>
<br>

{% endblock %}

